extends ../layouts/common.pug

block content
    h1 Products
    .row
        each product in products
            .card.col-md-3.ml-5
                img.card-img-top(src=product.image)
                .card-body  
                    h5.card-title=product.name
                    a.btn.btn-primary(href='/cart/add/'+product.id) Add to cart
    br
    nav(aria-label='Page navigation example')
        ul.pagination
            li.page-item
            a.page-link(href='/prod/?page='+`${preV}`) Previous
            li.page-item
                a.page-link(href='/prod/?page=1') 1
            li.page-item
                a.page-link(href='/prod/?page=2') 2
            li.page-item
                a.page-link(href='/prod/?page=3') 3
            li.page-item
                a.page-link(href='/prod/?page='+`${next}`) Next
