extends ../layouts/common
block content
	h1(style="text-align:center") CREATE
	form(action="/users/create", method="POST" class="d-flex")
		label ID 
		input(type="number", name="id" class="form-control" )
		label Name
		input(type="text",name="name" class="form-control")
		button Create
