extends ../layouts/common
block content
	h1(style="text-align:center") LIST USERS
	if(user)
	.d-flex.align-items-center
		form.mb-2.mb-lg-0(action="/users/search", method="GET", class="d-flex")
			input(type="text", name="q", class="form-control d-flex")
			button(class="btn btn-primary ") Search
		a(class="btn btn-primary", href="/users/create") Create
	table.table
		tr
			th Name 
			th Phone
			th Action
		each user in users
			tr
				td=user.name
				td=user.phone
				td
					a(href="/users/"+user.id) View 


